:root {
  --montserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", serif;
  --primary-color: hsl(30, 38%, 92%);
  --secundary-color: hsl(158, 36%, 37%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
